@using DatabaseConnector
@model dynamic

@{
    ViewBag.Title = "Домашня сторінка";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div style="margin-top: 60px;"></div>

<a href="@Url.Action("Create", "Home")">
    <h3>Створити користувача</h3>
</a>

<style>
    .my-border {
        /*border: 4px double black;*/
    }
</style>

<!-- Team Members Row -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Користувачі з бази даних</h2>
    </div>
    @{
        var users = ViewBag.users as IList<User>;
        foreach (var user in users)
        {
            <a href="@Url.Action("Details", "Home", new RouteValueDictionary(new {id = user.Id}))">
                <div class="col-lg-4 col-sm-6 text-center my-border">
                    @*<img class="img-circle img-responsive img-center" style="margin: auto" src="http://placehold.it/200x200" alt="">*@
                    <h3>
                        @user.Name @user.Surname @user.LastName
                    </h3>
                    <p>Місто: @user.City</p>
                    <p>Місто: @user.Country</p>
                    <p>Телефон: @user.Phone</p>
                    <p><small>@user.Email</small></p>
                </div>
            </a>
        }
    }
</div>